.counterContainer {

    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6e205;
    border: 5px solid #9503d5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 2px;

}

.watchNumber {
    border-radius: 10px;
    font-size: 80px;
    background: #eaecec;
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: red;
    font-size:xxx-large;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   margin-bottom: auto;
}

.ok {
    font-size:xxx-large;
    color: #050505;
}

.buttonContainer {
    font-size: 10px;
    border:#6801e7 2px solid;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.inputContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.inputItem{
height: 100%;


}

.input{
    width: 80%;
    padding: 5px 1px;
    border-radius: 11px;
}





.button{
    width: 30%;
}